# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Flask
instance/

# Testing / cache
.pytest_cache/
.coverage
htmlcov/